.debug pre {
  font-size: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.leave {
  font-size: 12px;
}

em.date {
  padding-right: 8px;
  font-size: 12px;
}

.messages ul{
  height: 300px;
  overflow-y: auto;

}